/* Reset generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset img */
img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0 auto;
  background-color: #191d7b;
  /* background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;*/
  color: white;
}

.header {
  text-align: center;
  padding: 40px 80px;
}

header h1 {
  line-height: 1.1;
  margin-bottom: 20px;
}

header p {
  margin-bottom: 30px;
  padding: 0 10px;
}

.btn {
  display: block;
  padding: 14px 20px;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 15px;
}

/* Primo bottone: bianco */
.download {
  background: white;
  color: black;
}

/* Secondo bottone: blu */
.navigate {
  background: #5865f2;
  color: white;
}

.cards {
  padding: 20px 20px 0 20px;
}

.card {
  background: #5d64d1;
  border-radius: 25px;
  padding: 30px 20px;
  margin-bottom: 60px;
  position: relative;
}

.card h2 {
  margin: 20px 0;
  line-height: 1.1;
  font-size: 35px;
}

.card p {
  margin-bottom: 20px;
}

.card figure img {
  border-radius: 20px;
  margin-bottom: 40px;
}

.post-tag {
  position: absolute;
  width: 100px;
  transform: translate(-50%, -50%);
  top: 0px;
  left: 20%;
}

/* // <weight>: Use a value from 100 to 1000
// <uniquifier>: Use a unique and descriptive class name */

.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  /*  font-optical-sizing: auto; */
  font-weight: 600;
  font-style: normal;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 100;
  font-style: normal;
}
